.container h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}
.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container input{
    margin: 10px 0px;
    width: 50%;
    padding: 10px 5px;
    border-style: none;
    border-radius: 10px;
    text-transform: uppercase;
}
.container input[type="submit"]{
    background-color: green;
    color: white;
    cursor: pointer;
}